{% extends 'base.html' %}
{% load static %}
{% block add_settings %}
    <link rel="shortcut icon" href="{% static 'TimeTable/assets/img/favicon.ico' %}" type="image/x-icon">
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'TimeTable/css/styles.css' %}" rel="stylesheet"/>
{% endblock %}
{% block title %}
    Главная страница
{% endblock %}
{% block content %}
    <!-- Navigation-->
    <div>
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav"
             style="position: absolute; z-index: 100; align-items: center;
    justify-content: space-between;top: 0;right: 0;left: 0;">
            <div class="container">
                <a class="navbar-brand" href="#page-top">TimeTablePlus</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">О нас</a></li>
                        <li class="nav-item"><a class="nav-link" href="#projects">Возможности</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead" id="page-top">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase masthead_h1">TimeTablePlus</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Бесплатное расписание для школьников республики Коми</h2>
                {% if user.is_authenticated %}
                    <a class="btn btn-primary"
                       href="{% url 'Schedule:schedule' request.user.id %}">Моё расписание</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'Account:sign_up' %}">Зарегистрироваться</a>
                    <a class="btn btn-primary" href="{% url 'Account:sign_in' %}">Войти</a>
                {% endif %}

            </div>
        </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Расписание для каждого!</h2>
                    <p class="text-white-50">
                        Лучший помощник в распределении твоего времени.
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="{% static 'TimeTable/assets/img/ipad.png' %}" alt=""/>
        </div>
    </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container" style="color: #0dcaf0;">
                <h2 class="text-white mb-4">Возможности</h2>
                <!-- Featured Project Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'TimeTable/assets/img/sin.jpg' %}"
                                               alt=""/></div>
                    <div class="col-lg-6 order-lg-first" style="background-color: #202020;">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Синхронизация с giseo.rkomi.ru</h4>
                                    <p class="mb-0 text-white-50"></p>
                                    <hr class="d-none d-lg-block mb-0 mr-0"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid"
                                               src="{% static 'TimeTable/assets/img/design.jpg' %}"
                                               alt=""/></div>
                    <div class="col-lg-6" style="background-color: #202020;">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Современный дизайн</h4>
                                    <p class="mb-0 text-white-50"></p>
                                    <hr class="d-none d-lg-block mb-0 ml-0"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->

            </div>

        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50">
            <div class="container">Copyright © TimeTablePlus</div>
        </footer>
    </div>
{% endblock %}
<!-- Core theme JS-->
