/venv/
db.sqlite3
/caches/
/debug.log
/.idea/
/Account/migrations/__pycache__/0001_initial.cpython-39.pyc
/Schedule/migrations/__pycache__/0001_initial.cpython-39.pyc
/Schedule/migrations/__pycache__/0002_auto_20210208_1815.cpython-39.pyc
/Account/migrations/__pycache__/0002_auto_20210211_1233.cpython-39.pyc
/Schedule/migrations/__pycache__/0003_auto_20210211_1233.cpython-39.pyc
/Account/migrations/__pycache__/0003_auto_20210211_1559.cpython-39.pyc
/Account/migrations/__pycache__/0004_auto_20210211_1605.cpython-39.pyc
/Account/migrations/__pycache__/0005_auto_20210211_1623.cpython-39.pyc
/Account/__pycache__/__init__.cpython-39.pyc
/Account/migrations/__pycache__/__init__.cpython-39.pyc
/Schedule/__pycache__/__init__.cpython-39.pyc
/Schedule/migrations/__pycache__/__init__.cpython-39.pyc
/Account/__pycache__/admin.cpython-39.pyc
/Schedule/__pycache__/admin.cpython-39.pyc
/Account/__pycache__/forms.cpython-39.pyc
/Schedule/__pycache__/forms.cpython-39.pyc
/__pycache__/manage.cpython-39.pyc
/Account/__pycache__/models.cpython-39.pyc
/Schedule/__pycache__/models.cpython-39.pyc
/Schedule/__pycache__/parser.cpython-39.pyc
/Account/__pycache__/urls.cpython-39.pyc
/Schedule/__pycache__/urls.cpython-39.pyc
/Account/__pycache__/views.cpython-39.pyc
/Schedule/__pycache__/views.cpython-39.pyc
/TimeTable/__pycache__/views.cpython-39.pyc
