<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'TimeTable/assets/img/favicon.ico' %}" type="image/x-icon">
    {#Подключение css от bs5#}
    <link href="{% static 'TimeTable/css/bootstrap.css' %}" rel="stylesheet" crossorigin="anonymous">
    {% block add_settings %}

    {% endblock %}
    <title>
        {#Блок для заголовка#}
        {% block title %}
            Title
        {% endblock %}
    </title>
</head>
<body>
{#Вывод сообщения#}

{#Блок для контента#}


{% block content %}
    Content
{% endblock %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <div class="alert alert-{{ message.tags }}" role="alert" style="background-color: black;border: none; color: #405F46; border-radius: 0px; height: 40px;">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{#Подключение js кода от bs5#}
<script src="{% static 'TimeTable/js/bootstrap.bundle.js' %}" crossorigin="anonymous"></script>
{% block script %}

{% endblock %}
</body>
</html>
