<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'Account/css/bootstrap.css' %}" rel="stylesheet" crossorigin="anonymous">

    <title>
        {% block title %}
            Title
        {% endblock %}
    </title>
</head>
<body>
{% block content %}
    <div class="container">

    </div>
{% endblock %}

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="{% static 'Account/js/bootstrap.bundle.js' %}" crossorigin="anonymous"></script>
</body>
</html>
