{% extends 'base.html' %}
{% load static %}
{% block add_settings %}
    <link rel="shortcut icon" href="{% static 'TimeTable/assets/img/favicon.ico' %}" type="image/x-icon">
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'TimeTable/css/styles.css' %}" rel="stylesheet"/>
{% endblock %}
{% block title %}
    Расписание {{ request.user.username }}
{% endblock %}
{% block content %}
    {#Preloader#}

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav"
         style="position: absolute; z-index: 100; align-items: center;
    justify-content: space-between;top: 0;right: 0;left: 0;">
        <div class="container">
            <a class="navbar-brand" href="{% url 'main_page' %}">TimeTablePlus</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ request.user.username }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'Account:sign_in_giseo' %}">Подключить
                                giseo</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'Account:logout' %}">Выйти</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Расписание
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item scroll-to" href="#mon" data-bs-toggle="collapse"
                                   data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Понедельник</a>
                            </li>
                            <li><a class="dropdown-item scroll-to" href="#tue" data-bs-toggle="collapse"
                                   data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Вторник</a>
                            </li>
                            <li><a class="dropdown-item scroll-to" data-bs-toggle="collapse"
                                   data-bs-target="#collapseThree"
                                   aria-expanded="false" aria-controls="collapseThree" href="#wed">Среда</a>
                            </li>
                            <li><a class="dropdown-item scroll-to" href="#thu" data-bs-toggle="collapse"
                                   data-bs-target="#collapseFourth" aria-expanded="false"
                                   aria-controls="collapseFourth">Четверг</a></li>
                            <li><a class="dropdown-item scroll-to" href="#fri" data-bs-toggle="collapse"
                                   data-bs-target="#collapseFifth" aria-expanded="false" aria-controls="collapseFifth">Пятница</a>
                            </li>
                            <li><a class="dropdown-item scroll-to" href="#sat" data-bs-toggle="collapse"
                                   data-bs-target="#collapseSixth" aria-expanded="false" aria-controls="collapseSixth">Суббота</a>
                            </li>
                            <li><a class="dropdown-item scroll-to" href="#sun" data-bs-toggle="collapse"
                                   data-bs-target="#collapseSeventh" aria-expanded="false"
                                   aria-controls="collapseSeventh">Воскресенье</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#createAffair"
                                   href="#">Добавить</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead" id="page-top">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase" style="color: #71a37b;">
                    Расписание {{ request.user.username }}</h1>
            </div>
        </div>
    </header>
    <!-- About-->
    <div style="background-color: #010101;">
        <div class="container" style="">
            <div style="background-color: #181818;">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item" id="mon">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne"
                                    aria-expanded="false"
                                    aria-controls="collapseOne" style="color: #467367">
                                Понедельник {{ mon_date|date:'d F' }}
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-dark">
                                        <thead>
                                        <tr>
                                            <th scope="col">Дело|Предмет</th>
                                            <th scope="col">Домашнее задание</th>
                                            <th scope="col">Заметка</th>
                                            <th scope="col">Сделано?</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for obj in mon %}
                                            <tr>
                                                <td><p>{{ obj.affair }}</p>
                                                    <p>({{ obj.time_start|date:"G:i" }}
                                                        - {{ obj.time_end|date:"G:i" }})</p>
                                                </td>
                                                <td>{{ obj.homework }}</td>
                                                <td>{{ obj.note }}</td>
                                                {% if obj.is_ready %}
                                                    <td>Да</td>
                                                {% else %}
                                                    <td>Нет</td>
                                                {% endif %}
                                                <td>
                                                    <a href="{% url 'Schedule:update_schedule' obj.pk %}">Редактировать</a>
                                                </td>
                                                <td><a href="{% url 'Schedule:delete_schedule' obj.pk %}">Удалить</a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        <tr>
                                            <td><a class="link-info" data-bs-toggle="modal"
                                                   data-bs-target="#createAffair"
                                                   href="#">Добавить</a></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" id="tue">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo" style="color: #467367">
                                Вторник {{ tue_date|date:'d F' }}
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="table-responsive">
                                    <table class="table table-hover  table-dark">
                                        <thead>
                                        <tr>
                                            <th scope="col">Дело|Предмет</th>
                                            <th scope="col">Домашнее задание</th>
                                            <th scope="col">Заметка</th>
                                            <th scope="col">Сделано?</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for obj in tue %}
                                            <tr>
                                                <td>
                                                    <p>{{ obj.affair }}</p>
                                                    <p>({{ obj.time_start|date:"G:i" }}
                                                        - {{ obj.time_end|date:"G:i" }})</p>
                                                </td>
                                                <td>{{ obj.homework }}</td>
                                                <td>{{ obj.note }}</td>
                                                {% if obj.is_ready %}
                                                    <td>Да</td>
                                                {% else %}
                                                    <td>Нет</td>
                                                {% endif %}
                                                <td>
                                                    <a href="{% url 'Schedule:update_schedule' obj.pk %}">Редактировать</a>
                                                </td>
                                                <td><a href="{% url 'Schedule:delete_schedule' obj.pk %}">Удалить</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td><a class="link-info" data-bs-toggle="modal"
                                                   data-bs-target="#createAffair"
                                                   href="#">Добавить</a></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" id="wed">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree" style="color: #467367">
                                Среда {{ wed_date|date:'d F' }}
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="table-responsive">
                                    <table class="table table-hover  table-dark">
                                        <thead>
                                        <tr>
                                            <th scope="col">Дело|Предмет</th>
                                            <th scope="col">Домашнее задание</th>
                                            <th scope="col">Заметка</th>
                                            <th scope="col">Сделано?</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for obj in wed %}
                                            <tr>
                                                <td>
                                                    <p>{{ obj.affair }}</p>
                                                    <p>({{ obj.time_start|date:"G:i" }}
                                                        - {{ obj.time_end|date:"G:i" }})</p>
                                                </td>
                                                <td>{{ obj.homework }}</td>
                                                <td>{{ obj.note }}</td>
                                                {% if obj.is_ready %}
                                                    <td>Да</td>
                                                {% else %}
                                                    <td>Нет</td>
                                                {% endif %}
                                                <td>
                                                    <a href="{% url 'Schedule:update_schedule' obj.pk %}">Редактировать</a>
                                                </td>
                                                <td><a href="{% url 'Schedule:delete_schedule' obj.pk %}">Удалить</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td><a class="link-info" data-bs-toggle="modal"
                                                   data-bs-target="#createAffair"
                                                   href="#">Добавить</a></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" id="thu">
                        <h2 class="accordion-header" id="headingFourth">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFourth"
                                    aria-expanded="false" aria-controls="collapseFourth" style="color: #467367">
                                Четверг {{ thu_date|date:'d F' }}
                            </button>
                        </h2>
                        <div id="collapseFourth" class="accordion-collapse collapse" aria-labelledby="headingFourth"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="table-responsive">
                                    <table class="table table-hover  table-dark">
                                        <thead>
                                        <tr>
                                            <th scope="col">Дело|Предмет</th>
                                            <th scope="col">Домашнее задание</th>
                                            <th scope="col">Заметка</th>
                                            <th scope="col">Сделано?</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for obj in thu %}
                                            <tr>
                                                <td>
                                                    <p>{{ obj.affair }}</p>
                                                    <p>({{ obj.time_start|date:"G:i" }}
                                                        - {{ obj.time_end|date:"G:i" }})</p>
                                                </td>
                                                <td>{{ obj.homework }}</td>
                                                <td>{{ obj.note }}</td>
                                                {% if obj.is_ready %}
                                                    <td>Да</td>
                                                {% else %}
                                                    <td>Нет</td>
                                                {% endif %}
                                                <td>
                                                    <a href="{% url 'Schedule:update_schedule' obj.pk %}">Редактировать</a>
                                                </td>
                                                <td><a href="{% url 'Schedule:delete_schedule' obj.pk %}">Удалить</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td><a class="link-info" data-bs-toggle="modal"
                                                   data-bs-target="#createAffair"
                                                   href="#">Добавить</a></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" id="fri">
                        <h2 class="accordion-header" id="headingFifth">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFifth"
                                    aria-expanded="false" aria-controls="collapseFifth" style="color: #467367">
                                Пятница {{ fri_date|date:'d F' }}
                            </button>
                        </h2>
                        <div id="collapseFifth" class="accordion-collapse collapse" aria-labelledby="headingFifth"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="table-responsive">
                                    <table class="table table-hover  table-dark">
                                        <thead>
                                        <tr>
                                            <th scope="col">Дело|Предмет</th>
                                            <th scope="col">Домашнее задание</th>
                                            <th scope="col">Заметка</th>
                                            <th scope="col">Сделано?</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for obj in fri %}
                                            <tr>
                                                <td>
                                                    <p>{{ obj.affair }}</p>
                                                    <p>({{ obj.time_start|date:"G:i" }}
                                                        - {{ obj.time_end|date:"G:i" }})</p>
                                                </td>
                                                <td>{{ obj.homework }}</td>
                                                <td>{{ obj.note }}</td>
                                                {% if obj.is_ready %}
                                                    <td>Да</td>
                                                {% else %}
                                                    <td>Нет</td>
                                                {% endif %}
                                                <td>
                                                    <a href="{% url 'Schedule:update_schedule' obj.pk %}">Редактировать</a>
                                                </td>
                                                <td><a href="{% url 'Schedule:delete_schedule' obj.pk %}">Удалить</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td><a class="link-info" data-bs-toggle="modal"
                                                   data-bs-target="#createAffair"
                                                   href="#">Добавить</a></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" id="sat">
                        <h2 class="accordion-header" id="headingSixth">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSixth"
                                    aria-expanded="false" aria-controls="collapseSixth" style="color: #467367">
                                Суббота {{ sat_date|date:'d F' }}
                            </button>
                        </h2>
                        <div id="collapseSixth" class="accordion-collapse collapse" aria-labelledby="headingSixth"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="table-responsive">
                                    <table class="table table-hover  table-dark">
                                        <thead>
                                        <tr>
                                            <th scope="col">Дело|Предмет</th>
                                            <th scope="col">Домашнее задание</th>
                                            <th scope="col">Заметка</th>
                                            <th scope="col">Сделано?</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for obj in sat %}
                                            <tr>
                                                <td>
                                                    <p>{{ obj.affair }}</p>
                                                    <p>({{ obj.time_start|date:"G:i" }}
                                                        - {{ obj.time_end|date:"G:i" }})</p>
                                                </td>
                                                <td>{{ obj.homework }}</td>
                                                <td>{{ obj.note }}</td>
                                                {% if obj.is_ready %}
                                                    <td>Да</td>
                                                {% else %}
                                                    <td>Нет</td>
                                                {% endif %}
                                                <td>
                                                    <a href="{% url 'Schedule:update_schedule' obj.pk %}">Редактировать</a>
                                                </td>
                                                <td><a href="{% url 'Schedule:delete_schedule' obj.pk %}">Удалить</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td><a class="link-info" data-bs-toggle="modal"
                                                   data-bs-target="#createAffair"
                                                   href="#">Добавить</a></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" id="sun">
                        <h2 class="accordion-header" id="headingSeventh">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeventh"
                                    aria-expanded="false" aria-controls="collapseSeventh" style="color: #467367">
                                Воскресенье {{ sun_date|date:'d F' }}
                            </button>
                        </h2>
                        <div id="collapseSeventh" class="accordion-collapse collapse" aria-labelledby="headingSeventh"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="table-responsive">
                                    <table class="table table-hover  table-dark">
                                        <thead>
                                        <tr>
                                            <th scope="col">Дело|Предмет</th>
                                            <th scope="col">Домашнее задание</th>
                                            <th scope="col">Заметка</th>
                                            <th scope="col">Сделано?</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for obj in sun %}
                                            <tr>
                                                <td>
                                                    <p>{{ obj.affair }}</p>
                                                    <p>({{ obj.time_start|date:"G:i" }}
                                                        - {{ obj.time_end|date:"G:i" }})</p>
                                                </td>
                                                <td>{{ obj.homework }}</td>
                                                <td>{{ obj.note }}</td>
                                                {% if obj.is_ready %}
                                                    <td>Да</td>
                                                {% else %}
                                                    <td>Нет</td>
                                                {% endif %}
                                                <td>
                                                    <a href="{% url 'Schedule:update_schedule' obj.pk %}">Редактировать</a>
                                                </td>
                                                <td><a href="{% url 'Schedule:delete_schedule' obj.pk %}">Удалить</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td>
                                                <a class="link-info" data-bs-toggle="modal"
                                                   data-bs-target="#createAffair"
                                                   href="#">Добавить</a>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="createAffair" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить дело</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-primary">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <footer class="footer bg-black small text-center text-white-50">
        <div class="container">Copyright © TimeTablePlus</div>
    </footer>
{% endblock %}
<!-- Core theme JS-->
{% block script %}
    <script type="text/javascript">
        const anchors = document.querySelectorAll('a.scroll-to')

        for (let anchor of anchors) {
            anchor.addEventListener('click', function (e) {
                e.preventDefault()

                const blockID = anchor.getAttribute('href')

                document.querySelector(blockID).scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                })
            })
        }
    </script>
{% endblock %}
