{% extends 'base.html' %}
{% load static %}
{% block add_settings %}
    <link rel="shortcut icon" href="{% static 'TimeTable/assets/img/favicon.ico' %}" type="image/x-icon">
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'TimeTable/css/styles.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{% url 'main_page' %}">TimeTablePlus</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#edit_affair">Редактировать дело</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead" id="edit_affair">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">Редактировать</button>
                </form>
            </div>
        </div>
    </header>
    <footer class="footer bg-black small text-center text-white-50">
        <div class="container">Copyright © TimeTablePlus</div>
    </footer>
{% endblock %}
<!-- Core theme JS-->
{% block script %}
    <script src="{% static 'TimeTable/js/scripts.js' %}"></script>
{% endblock %}

